{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Body %}
    <div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                <h2>Profil</h2>
                </div>
                <div class="row content">

                    <div class="col">
                        <div class="content">
                            <div class="row py-1 px-2">
                                <div class="col-md-11 mx-auto">
                                    <div class="bg-white shadow rounded overflow-hidden">
                                        <div class="px-4 pt-0 pb-4 cover">
                                            <div class="media align-items-end profile-head">
                                                <div class="profile mr-3">
                                                    <img src="{{ asset("assets/img/user.jpg") }}"  class="rounded float-start"
                                                         style="border: black solid 1px ; width: 200px; height: 200px; margin-right: 15px"/>

                                                </div>
                                                <div class="media-body mb-5 text-white">
                                                    <h4 class="mt-0 mb-0"></h4>
                                                    <p class="small mb-4"> </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab"
                                        style="text-align: center">
                                            <h4 class="font-weight-bold mt-0 mb-4">Informations</h4>
                                            <div class="bg-white card mb-4 order-list shadow-sm">
                                                <div class="row justify-content-around m-5">
                                                    <div class="col-6">
                                                        <strong><i class="fas fa-book mr-1" ></i> First Name : </strong>
                                                        <p class="text-muted">
                                                        {{ user.FirstName }}
                                                        </p>
                                                        <hr />
                                                    </div>
                                                    <div class="col-4">
                                                        <strong><i class="fas fa-book mr-1" ></i> Last Name :  </strong>
                                                        <p class="text-muted">{{ user.lastName }}</p>

                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row justify-content-around">
                                                    <div class="col-6">
                                                        <strong><i class="fas fa-book mr-1" ></i> Email : </strong>
                                                        <p class="text-muted">
                                                            {{ user.email }}
                                                        </p>
                                                        <hr />
                                                    </div>
                                                    <div class="col-6">
                                                        <strong><i class="fas fa-pencil-alt mr-1" ></i> Section Bac : </strong>
                                                        <p class="text-muted">
                                                            {{ user.score.sectionBac }}
                                                        </p>
                                                        <hr />
                                                    </div>
                                                <div class="row justify-content-around">
                                                    <div class="col-4">
                                                        <strong><i class="far fa-file-alt mr-1" ></i> Score : </strong>
                                                        <p class="text-muted">{{ user.score.result }}</p>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-6">

                                                    </div>
                                                </div>
                                                <div class="container px-lg-5 m-3">
                                                    <a href="{{ path('Profil_Update', {'id': user.id}) }}" type="button" class="btn btn-outline-primary">Update Profile</a>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>

{% endblock %}






