{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Body %}
    <div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Guide d'Orientation Universitaire</h2>
                </div>
                <div class="row content">

                    <div class="col-md-9">
                        <table id="Datatable1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>num</th>
                                <th>Specialiter</th>
                                <th>ville</th>
                                <th>University</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in filiers %}
                                <tr>
                                    <td>{{ f.id }}</td>
                                    <td>{{ f.FiliereName }}</td>
                                    <td>
                                    {% for u in f.scoreUniversities %}

                                        <ul>
                                            <li>
                                                {{u.university.ville}}<hr/>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                    </td>

                                    <td>
                                        {% for u in f.scoreUniversities %}
                                        <ul>
                                            <li>
                                                {{u.university}}<hr/>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        {% for u in f.scoreUniversities %}
                                            <ul>
                                                <li>
                                                    {{u.score}}<hr/>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3" >

                        <!-- filtre -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">

                                </div>

                                <h3 class="profile-username text-center">Filtrer</h3>

                                <p class="text-muted text-center"> votre Score est :
                                    {{ user.score.result }}
                                </p>
                                {{ form_start(filtre) }}
                                <ul class="list-group list-group-unbordered mb-3">
                                    {#
                                    <li class="list-group-item">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">ville</label>
                                            {{ form_widget(filtre.ville,{'attr':{'placeholder':'choisir une ville',"class":"form-control"}}) }}
                                        </div>                                    </li>
                                    <li class="list-group-item">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">university</label>
                                            {{ form_widget(filtre.university,{'attr':{'placeholder':'university name',"class":"form-control"}}) }}
                                        </div>
                                    </li>
                                    #}
                                    <li class="list-group-item">

                                        <div class="mb-3">

                                            {{ form_widget(filtre.best,{'attr':{'placeholder':'',"class":"form-control"}}) }}
                                        </div>
                                    </li>


                                    <li class="list-group-item" id="speciality">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Sceciality</label>
                                            {{ form_widget(filtre.Filiere,{'attr':{'placeholder':'choisir une speciality',"class":"form-control"}}) }}
                                        </div>
                                    </li>

                                </ul>


                                <div class="form-group">
                                    <input type="submit" value="Filtrer" class="btn btn-success m-4">
                                </div>

                                {{ form_end(filtre,{render_rest:false}) }}

                            </div>
                            <!-- /.card-body -->
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>
{% block Script %}

    <script>
        $(function () {
            $("#Datatable1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "searching":true,
                "info": false,

            }).input().appendTo('#Datatable1_wrapper .col-md-6');
        });
    </script>

    {% endblock %}
{% endblock %}

