{% extends 'dashbord_ctrl/DashbordBase.html.twig' %}
{% block MainBody %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Governorats List</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Governorats</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12">

                        <!-- /.card -->
                        <div class="card">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="{{ path('app_metier_a_new') }}" class="btn btn-success" ><i class="fa-solid fa-circle-plus"></i> Add metiee</a>
                                <table id="Datatable1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Salaire</th>
                                        <th>Chomage</th>
                                        {#   <th>Description</th> #}
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for metier_a in metier_as %}
                                        <tr>
                                            <td>{{ metier_a.id }}</td>
                                            <td>{{ metier_a.nom }}</td>
                                            <td>{{ metier_a.salaire }}</td>
                                            <td>{{ metier_a.chomage }}</td>
                                            {#   <td>{{ metier_a.Description }}</td> #}

                                            {#  <td>    <a href="{{ path('app_description_index') }}"  ><i class="fa fa-book" aria-hidden="true"></i>
              </a> </td> #}

                                            <td>

                                                <a href="{{ path('app_metier_a_show', {'id': metier_a.id}) }}" ><i class="fa-regular fa-eye"></i></a>



                                                <a href="{{ path('app_metier_a_edit', {'id': metier_a.id})  }}" ><i class="fa-solid fa-pen-to-square"></i></a>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    {% block Scripts %}
        <!-- DataTables  & Plugins -->
        <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
        <script src=".{{ asset('plugins/jszip/jszip.min.js') }}"></script>
        <script src=".{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
        <script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
        <script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
        <script>
            $(function () {
                $("#Datatable1").DataTable({
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "searching":true,
                    "info": false,
                });
            });
        </script>
    {% endblock %}
{% endblock %}