{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Style %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
{% endblock %}
{% block Body %}
    <div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>
                        Les Metiers
                    </h2>
                </div>
                <div class="row g-3">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1"><button id="sarchbtn" class="btn-outline-success"><i class="fa-solid fa-magnifying-glass"></i></button></span>
                            <input type="text" class="form-control" id="search" placeholder="chercher avec nom metier" value=""/>
                        </div>
                    </div>
                </div>
                    <div>
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content">
                            <!-- Main content -->
                            <section class="content">
                                <div class="container-fluid">

                                    <div class="row" style="position: relative;">

                                        {% for m in metiers %}
                                        <!-- /.col -->
                                        <div class="col-md-9" style="margin-bottom: 15px" id="mydata">
                                            <div class="card">
                                                <div class="card-body" >
                                                    <div class="tab-content">
                                                        <div class="active tab-pane" id="activity">
                                                            <!-- Post -->
                                                            <div class="post">
                                                                <div class="user-block">
                                                                    <h3 class="text-center text-primary">{{ m.nom }}</h3>

                                                                </div><br/>
                                                                <!-- /.user-block -->

                                                                <h4>Description :</h4>
                                                                <p>
                                                                    {{ m.Description }}
                                                                </p>
                                                                <h6>salaire Moyen : {{ m.salaire }}</h6>
                                                                <h6>chomage : {{ m.chomage }}</h6>
                                                                <p>
                                                                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                                                    <span class="float-right">
                                                                        <a href="#" class="link-black text-sm">
                                                                          <i class="far fa-comments mr-1"></i> Comments (5)
                                                                        </a>
                                                                    </span>
                                                                </p>

                                                                <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                                            </div>
                                                            <!-- /.post -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.tab-content -->
                                        </div><!-- /.card-body -->
                                        {% endfor %}

                                    </div>
                                    <!-- /.card -->
                                    <div class="col-md-3" style="position:fixed; right:10px; top:26%">

                                        <!-- filtre -->
                                        <div class="card card-primary card-outline">
                                            <div class="card-body box-profile">
                                                <div class="text-center">

                                                </div>

                                                <h3 class="profile-username text-center">Filtrer</h3>

                                                <p class="text-muted text-center"></p>
                                                {{ form_start(form) }}
                                                <ul class="list-group list-group-unbordered mb-3">
                                                    <li class="list-group-item">

                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Following</b> <a class="float-right">543</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Friends</b> <a class="float-right">13,287</a>
                                                    </li>
                                                </ul>

                                                <div class="form-group">
                                                    <input type="submit" value="Filtrer" class="btn btn-success m-4">
                                                </div>

                                                {{ form_end(form,{render_rest:false}) }}
                                            </div>
                                            <!-- /.card-body -->
                                        </div>

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        {% if isPaginated is defined and isPaginated %}
                                            <div class="row align-items-center mt-4">
                                                <nav aria-label="col Page navigation example">
                                                    <ul class="pagination">
                                                        {% if page>1 %}
                                                            <li class="page-item"><a class="page-link" id="page" href="{{ path('show_metiers',{page:page-1,nbr:nbr}) }}">Previous</a></li>
                                                        {% endif %}
                                                        {% for i in range(1,nbrpage) %}
                                                            <li class="page-item"><a class="page-link" href="{{ path('show_metiers',{page:i,nbr:nbr}) }}">{{ i }}</a></li>
                                                        {% endfor %}
                                                        {% if page<nbrpage %}
                                                            <li class="page-item"><a class="page-link" href="{{ path('show_metiers',{page:page+1,nbr:nbr}) }}">Next</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>


                            </section>
                            <!-- /.row -->

                        </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>

{% block Script %}
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
    <script>
        /*
        $(document).ready(function(){
            $("#search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#mydata *").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });*/
        $(function(){
            // bind change event to select
            $('#sarchbtn').on('click', function () {
                //var url = $(this).val(); // get selected value
                //if (url) { // require a URL
                var value = $('#search').val().toLowerCase();
                var page = $('#page').text().toLowerCase();
                   window.location = "http://localhost:8000/metiers/"+value; // redirect
                //}
                return false;
            });
        });
    </script>

{% endblock %}
{% endblock %}