{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Style %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
{% endblock %}
{% block Body %}
    <div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>
                        Les Metiers
                    </h2>
                </div>
                    <div>
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content">
                            <!-- Main content -->
                            <section class="content">
                                <div class="container-fluid">

                                    <div class="row" style="position: relative;">

                                        {% for m in metiers %}
                                        <!-- /.col -->
                                        <div class="col-md-9" style="margin-bottom: 15px">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="tab-content">
                                                        <div class="active tab-pane" id="activity">
                                                            <!-- Post -->
                                                            <div class="post">
                                                                <div class="user-block">
                                                                    <h3 class="text-center text-primary">{{ m.nom }}</h3>

                                                                </div><br/>
                                                                <!-- /.user-block -->

                                                                <h4>Description :</h4>
                                                                <p>
                                                                    {{ m.Description }}
                                                                </p>
                                                                <h6>salaire Moyen : {{ m.salaire }}</h6>
                                                                <h6>chomage : {{ m.chomage }}</h6>
                                                                <p>
                                                                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                                                    <span class="float-right">
                                                                        <a href="#" class="link-black text-sm">
                                                                          <i class="far fa-comments mr-1"></i> Comments (5)
                                                                        </a>
                                                                    </span>
                                                                </p>

                                                                <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                                            </div>
                                                            <!-- /.post -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.tab-content -->
                                        </div><!-- /.card-body -->
                                        {% endfor %}

                                    </div>
                                    <!-- /.card -->
                                    <div class="col-md-3" style="position:fixed; right:10px; top:23%">

                                        <!-- filtre -->
                                        <div class="card card-primary card-outline">
                                            <div class="card-body box-profile">
                                                <div class="text-center">

                                                </div>

                                                <h3 class="profile-username text-center">Filtrer</h3>

                                                <p class="text-muted text-center"></p>

                                                <ul class="list-group list-group-unbordered mb-3">
                                                    <li class="list-group-item">
                                                        <b>Followers</b> <a class="float-right">1,322</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Following</b> <a class="float-right">543</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Friends</b> <a class="float-right">13,287</a>
                                                    </li>
                                                </ul>

                                                <a href="#" class="btn btn-primary btn-block"><b>Filter</b></a>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>

                                    </div>
                                </div>
                                <!-- /.col -->
                            </section>
                            <!-- /.row -->
                        </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>

{% block Script %}
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/adminlte.min.js') }}"></script>

{% endblock %}
{% endblock %}