{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Body %}
<div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>{% set formtype, year = 'Calculateur Score BAC ', '2023' %}
                        {{ formtype }}{{ year }}
                    </h2>
                </div>
                <div class="row content">

                    <div class="col">

                    {{ form_start(form) }}
                        {{ form_row(form.sectionBac) }}
                        <div class="form-group">
                            <input type="submit" value="next" class="btn float-right btn-outline-success"/>
                        </div>
                    {{ form_end(form,{render_rest:false}) }}
                    </div>

                </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>
{% block Script %}
    {#
    <script>
        $( "#score_sectionBac" ).change(function() {
            var option=$("#score_sectionBac option:selected").text();
            alert(option);
        });
    </script>
    #}
{% endblock %}
{% endblock %}

