<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<title>Educariere</title>
		<meta content="" name="description">
		<meta content="" name="keywords">

		<!-- Favicons -->
		<!--link href="{{asset('assets/img/favicon.png')}}" rel="icon"-->
		<link
		href="{{asset('assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon"> <!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{asset('assets/vendor/aos/aos.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
		<link href="{{asset('assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
		<link
		href="{{asset('assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('fontawesome-6/css/all.css') }}">
		<link rel="stylesheet" href="{{ asset('fontawesome-6/css/brands.css') }}">
		<link rel="stylesheet" href="{{ asset('fontawesome-6/css/solid.css') }}">
		<!-- Template Main CSS File -->
		<link
		href="{{asset('assets/css/style.css')}}" rel="stylesheet">
		{% block Style %}
		{% endblock %}

	<!-- =======================================================
  * Template Name: Arsha - v4.9.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

	</head>
	<body>


				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

				{{ include('FrontOfficeTemplate/FrontOfficeNavBar.html.twig')}}

		{% block Body %}
		<!-- ======= Hero Section ======= -->
		<section id="hero" class="d-flex align-items-center">

			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
						<h1>Better Solutions For Your Education</h1>
						<h2>we want you to choose the best for you</h2>
					</div>
					<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
						<img src="{{asset('assets/img/hero-img.png')}}" class="img-fluid animated" alt="">
					</div>
				</div>
			</div>

		</section>
		<!-- End Hero -->

		<main
			id="main">

			<!-- ======= Clients Section ======= -->
			<section id="clients" class="clients section-bg">
				<div class="container" style="align-items: center">

					<div class="row" data-aos="zoom-in">

						<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
							<img src="{{asset('assets/img/Universityslogo/droit.jpg')}}" class="img-fluid" alt="">
						</div>

						<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
							<img src="{{asset('assets/img/Universityslogo/medcine.jpg')}}" class="img-fluid" alt="">
						</div>

						<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
							<img src="{{asset('assets/img/Universityslogo/supcom.png')}}" class="img-fluid" alt="">
						</div>

						<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
							<img src="{{asset('assets/img/Universityslogo/isam.jfif')}}" class="img-fluid" alt="">
						</div>

						<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
							<img src="{{asset('assets/img/Universityslogo/ISLT.png')}}" class="img-fluid" alt="">
						</div>


					</div>

				</div>
			</section>
			<!-- End Cliens Section -->

			<!-- ======= About Us Section ======= -->
			<section id="about" class="about">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>A propos de nous</h2>
					</div>

					<div class="row content">

						<div class="col">
							<p>
								Nous sommes une équipe des jeunes développeurs. on trouves qu'il ya un probleme dans le monde educatifie ou les etudiants trouvent  une difficulter de choisir leurs specialitees ,
								donc on propose notre propre solution qu'il aide les etudients a choisir leur speciliter selon leurs score et les specialitees,
								et de prendre une vision sur les metieres existant dans le marcher qui donnee une visions a l'etudent de leur metier  d'avenire.
																																																																																																																																																																																																              culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
					</div>

				</div>
			</section>
			<!-- End About Us Section -->


			<!-- ======= Skills Section ======= -->
			<section id="skills" class="skills">
				<div class="container" data-aos="fade-up">

					<div class="row">
						<div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
							<img src="{{asset('assets/img/skills.png')}}" class="img-fluid" alt="">
						</div>
						<div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
							<h3>statistice sur le gent ont envie de changer de vie professionnelle</h3>
							<p class="fst-italic">
								L’ennui dans leur job actuel, le manque de sens etlLa pression subie sont les principales raisons qui poussent les Français a changer de vie professionnelle.

								Selon l’enquête menée par le cabinet LHH et BVA, ils veulent avant tout :
								magna aliqua.
							</p>

							<div class="skills-content">

								<div class="progress">
									<span class="skill">Changer de secteur d’activité
										<i class="val">28%</i>
									</span>
									<div class="progress-bar-wrap">
										<div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="progress">
									<span class="skill">S’orienter vers un nouveau métier et l’apprendre
										<i class="val">24%</i>
									</span>
									<div class="progress-bar-wrap">
										<div class="progress-bar" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>

								<div class="progress">
									<span class="skill">Devenir indépendant
										<i class="val">8%</i>
									</span>
									<div class="progress-bar-wrap">
										<div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>


							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- End Skills Section -->

			<!-- ======= Services Section ======= -->
			<section id="services" class="services section-bg">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Nos Services</h2>
						<p>Nous offrons trois types de services : </p>
					</div>

					<div class="row">
						<div class="col-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
							<div class="icon-box">
								<div class="icon">
									<i class="fa-solid fa-building-columns"></i>
								</div>
								<h4>
									<a href="{{ path('get_GuideOrientationUniversitaire') }}">Guide Universitaire</a>
								</h4>
								<p>c'est un guide universitaire dynamiqiue qui vous permettre de filtrer le guide selon votre score ou specialiter ou ville</p>
							</div>
						</div>

						<div class="col-4 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
							<div class="icon-box">
								<div class="icon">
									<i class="fa-solid fa-briefcase"></i>
								</div>
								<h4>
									<a href="{{ path('show_metiers') }}">metiers</a>
								</h4>
								<p>les métier existant à travers des études universitaire avec une description </p>
							</div>
						</div>

						<div class="col-4 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
							<div class="icon-box">
								<div class="icon">
									<i class="fa-solid fa-calculator"></i>
								</div>
								<h4>
									<a href="{{ path('calculateur_score') }}">Calculer Score</a>
								</h4>
								<p>Calculer Votre score pour filtrer en suis le guide selon votre score</p>
							</div>
						</div>


					</div>

				</div>
			</section>
			<!-- End Services Section -->

			<!-- ======= Cta Section ======= -->
			<section id="cta" class="cta">
				<div class="container" data-aos="zoom-in">

					<div class="row">
						<div class="col-lg-9 text-center text-lg-start">
							<h3>Call To Action</h3>
							<p>
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="col-lg-3 cta-btn-container text-center">
							<a class="cta-btn align-middle" href="#">Call To Action</a>
						</div>
					</div>

				</div>
			</section>
			<!-- End Cta Section -->


			<!-- ======= Team Section ======= -->
			<section id="team" class="team section-bg">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Team</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="row">

						<div class="col-lg-6 mt-4 mt-lg-0">
							<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
								<div class="pic"><img src="{{asset('assets/img/EdTeam/Torkhani_Ala.jpg')}}" class="img-fluid" alt=""></div>
								<div class="member-info">
									<h4>Torkhani Ala</h4>
									<span>Full stack Developper</span>
									<p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
									<div class="social">
										<a href="">
											<i class="ri-twitter-fill"></i>
										</a>
										<a href="">
											<i class="ri-facebook-fill"></i>
										</a>
										<a href="">
											<i class="ri-instagram-fill"></i>
										</a>
										<a href="">
											<i class="ri-linkedin-box-fill"></i>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
								<div class="pic"><img src="{{asset('assets/img/EdTeam/asma.jpg')}}" class="img-fluid" alt=""></div>
								<div class="member-info">
									<h4>Djobi Asma</h4>
									<span>Scrum Master</span>
									<p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
									<div class="social">
										<a href="">
											<i class="ri-twitter-fill"></i>
										</a>
										<a href="">
											<i class="ri-facebook-fill"></i>
										</a>
										<a href="">
											<i class="ri-instagram-fill"></i>
										</a>
										<a href="">
											<i class="ri-linkedin-box-fill"></i>
										</a>
									</div>
								</div>
							</div>
						</div>



						<div class="col-lg-6 mt-4">
							<div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
								<div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
								<div class="member-info">
									<h4>Troudi Oussama</h4>
									<span>Product Owner</span>
									<p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
									<div class="social">
										<a href="">
											<i class="ri-twitter-fill"></i>
										</a>
										<a href="">
											<i class="ri-facebook-fill"></i>
										</a>
										<a href="">
											<i class="ri-instagram-fill"></i>
										</a>
										<a href="">
											<i class="ri-linkedin-box-fill"></i>
										</a>
									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
			</section>
			<!-- End Team Section -->




			<!-- ======= Contact Section ======= -->
			<section id="contact" class="contact">
				<div class="container" data-aos="fade-up">

					<div class="section-title">
						<h2>Contact</h2>
						<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
					</div>

					<div class="row">

						<div class="col-lg-5 d-flex align-items-stretch">
							<div class="info">
								<div class="address">
									<i class="bi bi-geo-alt"></i>
									<h4>Location:</h4>
									<p>A108 Adam Street, New York, NY 535022</p>
								</div>

								<div class="email">
									<i class="bi bi-envelope"></i>
									<h4>Email:</h4>
									<p>info@example.com</p>
								</div>

								<div class="phone">
									<i class="bi bi-phone"></i>
									<h4>Call:</h4>
									<p>+1 5589 55488 55s</p>
								</div>

								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
							</div>

						</div>

						<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
							<form action="forms/contact.php" method="post" role="form" class="php-email-form">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="name">Your Name</label>
										<input type="text" name="name" class="form-control" id="name" required>
									</div>
									<div class="form-group col-md-6">
										<label for="name">Your Email</label>
										<input type="email" class="form-control" name="email" id="email" required>
									</div>
								</div>
								<div class="form-group">
									<label for="name">Subject</label>
									<input type="text" class="form-control" name="subject" id="subject" required>
								</div>
								<div class="form-group">
									<label for="name">Message</label>
									<textarea class="form-control" name="message" rows="10" required></textarea>
								</div>
								<div class="my-3">
									<div class="loading">Loading</div>
									<div class="error-message"></div>
									<div class="sent-message">Your message has been sent. Thank you!</div>
								</div>
								<div class="text-center">
									<button type="submit">Send Message</button>
								</div>
							</form>
						</div>

					</div>

				</div>
			</section>
			<!-- End Contact Section -->

		</main>
		<!-- End #main -->
		{% endblock %}
		{{include('FrontOfficeTemplate/FrontOfficeFooter.html.twig')}}

		<div id="preloader"></div>
		<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
			<i class="bi bi-arrow-up-short"></i>
		</a>

		<!-- Vendor JS Files -->
		<script src="{{asset('assets/vendor/aos/aos.js')}}"></script>
		<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
		<script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
		<script src="{{asset('assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
		<script src="{{asset('assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
		<script src="{{asset('assets/vendor/php-email-form/validate.js')}}"></script>

		<!-- Template Main JS File -->
		<script src="{{ asset('assets/js/main.js') }}"></script>
				<!-- DataTables  & Plugins -->
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
				<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
				<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
				<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
				<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
				<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	{% block Script %}
	{% endblock %}
	</body>

</html>
