{% extends 'dashbord_ctrl/DashbordBase.html.twig' %}

{% block MainBody %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Users</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid " style="padding-top: 40px">
                <!-- Small boxes (Stat box) -->

                <a href="{{ path('app_user_new') }}" class="btn btn-success" >Create new</a>
                <table class="table mt-6" style="padding-top: 40px">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roles</th>

                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                            <td>{{ user.FirstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>
                                <div class="d-inline p-4" >

                                    <a href="{{ path('app_user_show' , {'id': user.id}) }}" ><i class="fa-regular fa-eye"></i></a>


                                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" ><i class="fa-solid fa-pen-to-square"></i></a>

                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
